<% include header %>
<% include navigatie %>
<% include border %>
<div class="over">

<p> Don Diablo (real name Don Pepijn Schipper) is a Dutch DJ/producer who is widely viewed as one of the pioneers of the future house movement. Born in the Netherlands, the producer got his start in music at the early age of 15, when he signed his first record deal. More recently, tracks such as “On My Mind,” “Cutting Shapes,” and “AnyTime” have become instant hits resulting in a solid position as the #1 selling house and future house artist of all times on DJ Portal "Beatport".</p>

<p> Due to his unique sound Don has also been in high demand to remix tracks from a vast array of high-profile songwriters and artists spanning a variety of genres; from the likes of Madonna and Rihanna to Bastille and Ed Sheeran. Diablo has reworked some of the biggest contemporary pophits into electronic dance floor success and continues to be in high demand as one of the most successful remixers of this generation.</p>

<p>In 2015 he started his own record label, Hexagon, which saw instant success with the release of a collaborative remix of British producer Alex Adair’s hit “Make Me Feel Better” that stayed on the #1 position for several weeks. Hexagon went on to win "Best New Label on Beatport" with the most Top 10 records in its first year. That year, Hexagon’s own radio show went on to air in over 35 countries, and has continued to grow, experiencing an ever-burgeoning fan base of listeners.</p>

<p>In 2015, Diablo worked with fellow Dutch DJ Tiësto on the track “Chemicals,” which also featured vocals from Danish singer/songwriter Thomas Troelsen and has reached gold status in several countries. More sold-out tours and performances followed in 2016, with Don Diablo also claiming the number 15 spot on DJ Mag’s Top 100 DJs list. In 2017, the producer will continue to tour heavily all over the world and is currently working on his first official artist album.</p>
</div>

<% include footer %>
