
<div class="social">
  <img id="bp" class="bp" src="img/icons/beatport.png" alt="">
  <img id="fb" class="bp" src="img/icons/facebook.png" alt="">
  <img id="ins" class="bp" src="img/icons/instagram.png" alt="">
  <img id="sc" class="bp" src="img/icons/soundcloud.png" alt="">
  <img id="tw" class="bp" src="img/icons/twitter.png" alt="">
  <img id="yt" class="bp" src="img/icons/youtube.png" alt="">
</div>
